source_db_engine="<string>"
source_db_password="<string>"
source_db_address="<string>"
source_db_port=<int>
source_db_ssl_mode="<string>"
destination_db_engine="<string>"
destination_db_password="<string>"
destination_db_address="<string>"
destination_db_port=<int>
destination_db_ssl_mode="<string>"
replication_instance_arn="<string>"

